# Data Understanding

In [ ]:
!pip install cudf-cu11==22.12 rmm-cu11==22.12 --extra-index-url=https://pypi.ngc.nvidia.com --quiet
!pip install cugraph-cu11==22.12 dask-cuda==22.12 dask-cudf-cu11==22.12  pylibcugraph-cu11==22.12 --extra-index-url=https://pypi.ngc.nvidia.com/ --quiet
!pip install cuml-cu11==22.12 raft_dask_cu11==22.12 dask-cudf-cu11==22.12  pylibraft_cu11==22.12 ucx-py-cu11==0.29.0 --extra-index-url=https://pypi.ngc.nvidia.com --quiet

Si mirano a calcolare le seguenti statistiche:

-valori di event_type
-numero di item
-numero di brand
-numero di categorie

In [ ]:
import cudf

df = cudf.read_parquet("/content/drive/MyDrive/dataset_rees46/2019-Oct.parquet")  
df.head(10)

,user_session,event_type,product_id,category_id,category_code,brand,price,user_id,event_time_ts,prod_first_event_time_ts
0,152,view,1801539,2053013554415534427,electronics.video.tv,lg,419.24,514971132,1570986064,1569898645
1,152,view,1801826,2053013554415534427,electronics.video.tv,toshiba,359.60,514971132,1570986081,1569898007
2,152,view,1801539,2053013554415534427,electronics.video.tv,lg,419.24,514971132,1570986090,1569898645
3,152,view,1801881,2053013554415534427,electronics.video.tv,samsung,496.40,514971132,1570986093,1569894423
4,152,view,1801539,2053013554415534427,electronics.video.tv,lg,419.24,514971132,1570986100,1569898645
5,152,view,1801400,2053013554415534427,electronics.video.tv,haier,437.33,514971132,1570986102,1569898200
6,152,view,1801539,2053013554415534427,electronics.video.tv,lg,419.24,514971132,1570986104,1569898645
7,152,view,1801693,2053013554415534427,electronics.video.tv,hisense,452.78,514971132,1570986110,1569902404
8,152,view,1801539,2053013554415534427,electronics.video.tv,lg,419.24,514971132,1570986115,1569898645
9,152,view,1801693,2053013554415534427,electronics.video.tv,hisense,452.78,514971132,1570986115,1569902404

In [ ]:
print('# of session unique id: ', str(df[['user_session']].nunique()[-1]))

# of session unique id:  9244421

In [ ]:
print('# of items unique id: ', str(df[['product_id']].nunique()[-1]))

# of items unique id:  166794

In [ ]:
print('# of category unique id: ', str(df[['category_id']].nunique()[-1]))

# of category unique id:  624

In [ ]:
print('# of brand unique id: ', str(df[['brand']].nunique()[-1]))

# of brand unique id:  3444

In [ ]:
print('# of user unique id: ', str(df[['user_id']].nunique()[-1]))

# of brand unique id:  3022270

In [ ]:
print(df[['event_type']].value_counts())

event_type
view          30726719
cart              4758
purchase          1824
dtype: int64

In [ ]:
df_sessions = cudf.read_parquet('/content/drive/MyDrive/dataset_rees46/sessions_by_day/1/train.parquet')
df_sessions.head()

,user_session,product_id-count,product_id-list_seq,category_code-list_seq,brand-list_seq,category_id-list_seq,et_dayofweek_sin-list_seq,et_dayofweek_cos-list_seq,price_log_norm-list_seq,relative_price_to_avg_categ_id-list_seq,product_recency_days_log_norm-list_seq
0,3,779,"[26848, 111412, 31916, 10389, 28422, 671, 898,...","[1, 1, 1, 1, 1, 16, 16, 16, 16, 16, 16, 16, 16...","[190, 111, 275, 290, 536, 31, 10, 31, 416, 185...","[3, 3, 3, 3, 3, 20, 20, 20, 20, 20, 20, 20, 20...","[0.9749277124471076, 0.9749277124471076, 0.974...","[-0.2225218090494724, -0.2225218090494724, -0....","[-0.5968732, -0.5826312, -0.57691675, -0.94772...","[0.044438490038896716, 0.06332365917531949, 0....","[-3.1486514, -3.1486514, -3.148419, -3.1486514..."
1,23,231,"[691, 765, 1387, 1035, 2825, 1946, 1714, 8187,...","[1, 1, 1, 1, 1, 1, 13, 1, 1, 1, 1, 1, 1, 1, 1,...","[1, 348, 439, 142, 206, 206, 28, 28, 23, 142, ...","[64, 64, 64, 64, 64, 64, 216, 233, 125, 64, 57...","[0.9749277124471076, 0.9749277124471076, 0.974...","[-0.2225218090494724, -0.2225218090494724, -0....","[-0.20457584, -0.31866515, -0.4049947, 0.28767...","[-0.35150568828714485, -0.4378521261514929, -0...","[-2.799691, -2.793504, -2.7960827, -2.7966762,..."
2,29,202,"[1524, 2494, 34455, 15217, 21711, 46778, 32400...","[3, 3, 22, 22, 22, 22, 22, 22, 1, 1, 1, 1, 1, ...","[19, 466, 964, 13, 13, 79, 964, 37, 76, 76, 6,...","[12, 12, 72, 72, 72, 72, 72, 72, 426, 426, 7, ...","[0.9749277124471076, 0.9749277124471076, 0.974...","[-0.2225218090494724, -0.2225218090494724, -0....","[-0.5331212, -0.08574047, 0.46054456, -0.64450...","[-0.7266183979654094, -0.5210653733326213, 2.0...","[-2.4669812, -2.4828043, -2.4528584, -2.508910..."
4,58,172,"[2733, 12150, 2573, 5107, 4563, 3609, 1703, 53...","[1, 1, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41,...","[248, 1, 56, 2, 18, 7, 71, 26, 7, 71, 71, 1, 7...","[77, 77, 63, 63, 63, 63, 63, 63, 63, 63, 63, 6...","[0.9749277124471076, 0.9749277124471076, 0.974...","[-0.2225218090494724, -0.2225218090494724, -0....","[-1.1461918, -0.9525935, 0.3498218, 0.54671, -...","[-0.19495261458628507, 0.029849556116704375, -...","[-2.5808468, -2.5810318, -2.575665, -2.5611942..."
5,78,159,"[2321, 4769, 7015, 15535, 4769, 11909, 4769, 3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 6, 1, 179, 6, 1, 6, 1, 1, 1, 1, 1, 1, 48, ...","[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...","[0.9749277124471076, 0.9749277124471076, 0.974...","[-0.2225218090494724, -0.2225218090494724, -0....","[0.3290288, 0.2481804, 0.5238197, -0.35425237,...","[-0.07102936944315118, -0.16009914492562116, 0...","[-2.495063, -2.488295, -2.4708674, -2.5522509,..."